numpy==1.8.0
scipy==0.13.0
scikit-learn==0.15.0b1
langid==1.1.4dev
nltk==2.0.4
pandas==0.14.0
brewer2mpl==1.4
colorama>=0.2.7
fp-growth==0.1.2
-e git+https://github.com/escherba/pymaptools.git#egg=pymaptools
-e git+https://github.com/escherba/lsh-hdc#egg=lsh-hdc
