--find-links http://packages.livefyre.com/buildout/packages/
numpy==1.9.0
scipy==0.14.0
scikit-learn==0.14.1
langid==1.1.4dev
nltk==2.0.4
brewer2mpl==1.4
colorama>=0.2.7
fp-growth==0.1.2
lflearn>=0.0.1
ipdb
pymaptools>=0.0.10
matplotlib==1.4.0build
